.formulario-edit {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.popup_opened {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3 ease-in;
}

.Edit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-edit {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.block-edit__close {
  position: absolute;
  right: -35px;
  top: -35px;
  z-index: 4;
}

.block-edit__close-hover {
  position: absolute;
  right: -35px;
  top: -35px;
}

.block-edit__close:hover {
  opacity: 0;
}

.block-edit__text {
  margin: 24px 36px 0 0;
  width: 330px;
  height: 23px;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.block-edit__nombre {
  top: 100px;
  position: absolute;
}

#nombre {
  width: 358px;
  height: 28px;
  border: none;
  border-bottom: 1px solid;
  font-family: Inter;
}

#nombre.error {
  border-bottom: 2px solid red;
}

.block-edit__about {
  top: 175px;
  position: absolute;
}

#about {
  width: 358px;
  height: 28px;
  border: none;
  border-bottom: 1px solid;
  font-family: Inter;
}

#about.error {
  border-bottom: 2px solid red;
}

.error-message {
  width: 358px;
  font-family: Inter;
  font-size: 12px;
  color: red;
}

.guardar-edit {
  width: 358px;
  height: 50px;
  position: absolute;
  top: 250px;
  font-family: Inter;
  background-color: black;
  color: white;
}

.guardar-edit:hover {
  cursor: pointer;
  background: #000000cc;
}

.guardar-disabledEdit {
  width: 358px;
  height: 50px;
  position: absolute;
  top: 260px;
  font-family: Inter;
  background-color: white;
  color: gray;
  border: gray 0.5px solid;
  cursor: not-allowed;
  pointer-events: none;
  z-index: 3;
}

@media screen and (max-width: 608px) {
  .block-edit {
    width: 282px;
    height: 322px;
    background-color: white;
    border-radius: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .block-edit__close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -33px;
  }

  .block-edit__close-hover {
    width: 26px;
    height: 26px;
    right: 0;
    top: -33px;
  }

  .block-edit__text {
    margin: 25px 0px 0 0;
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
  }

  #nombre {
    width: 238px;
    height: 26px;
    margin-top: 76px;
  }

  #about {
    width: 238px;
    height: 26px;
  }

  .guardar-edit {
    width: 238px;
    height: 46px;
    margin-top: 46px;
  }

  .guardar-disabledEdit {
    width: 238px;
    height: 46px;
    margin-top: 46px;
  }
}
