<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the US</title>
  </head>
  <body class="page">
    <header class="header">
      <h1>
        <img
          class="header__icon"
          src="<%= require('./images/images-logo/around-us.svg')%>"
          alt="around-us"
        />
      </h1>
    </header>

    <section class="info">
      <div class="photo-container">
        <img class="user-photo" alt="foto de perfil" />
        <img class="user-photoBack" alt="." />
        <img
          class="user-photoEdit"
          src="<%= require('./images/images-iconos/photo-edit.svg')%>"
          alt="editar perfil"
        />
      </div>
      <div class="user">
        <div class="user__top">
          <h2 class="user__top-name"></h2>
          <div class="user__edit-buttons">
            <img
              class="user__top-hover"
              src="<%= require('./images/images-info/Edit-hover.png')%>"
              alt="boton de editar"
            />
            <img
              class="user__top-normal"
              src="<%= require('./images/images-info/Edit.png')%>"
              alt="boton de editar"
            />
          </div>
        </div>
        <h3 class="user__bottom"></h3>
      </div>
      <div class="user-add">
        <img
          class="user-add__hover"
          src="<%= require('./images/images-info/add-hover.svg')%>"
          alt="boton de añadir"
        />
        <img
          class="user-add__normal"
          src="<%= require('./images/images-info/add.svg')%>"
          alt="boton de añadir"
        />
      </div>
    </section>

    <form class="profilePopup" novalidate>
      <div class="Edit">
        <div class="profilePopup-block contentPopup">
          <p class="profilePopup-block__title">Cambiar foto de perfil</p>
          <div class="profile-input">
            <input
              type="text"
              id="profileInput"
              class="input"
              placeholder="Url de la nueva foto"
              minlength="2"
              maxlength="400"
              pattern="https:\/\/.*|http:\/\/.*"
              required
            />
            <p class="error-message"></p>
          </div>
          <button id="submitAvatar" class="profilePopup-block__button">
            Guardar
          </button>
          <img
            class="profilePopup-block__close closeButton"
            src="<%= require('./images/images-iconos/Close.svg')%>"
            alt="Cerrar formulario"
          />
          <img
            class="profilePopup-block__closeHover"
            src="<%= require('./images/images-iconos/Close-hover.svg')%>"
            alt="Cerrar formulario"
          />
        </div>
      </div>
    </form>

    <div class="eliminatePopup">
      <div class="Edit">
        <div class="beforeEliminate contentPopup">
          <p class="beforeEliminate-text">¿Estás seguro/a?</p>
          <button class="beforeEliminate-button">Sí</button>
          <img
            class="beforeEliminate__close closeButton"
            src="<%= require('./images/images-iconos/Close.svg')%>"
            alt="Cerrar formulario"
          />
          <img
            class="beforeEliminate__closehover"
            src="<%= require('./images/images-iconos/Close-hover.svg')%>"
            alt="Cerrar formulario"
          />
        </div>
      </div>
    </div>

    <form class="formulario-edit" novalidate>
      <div class="Edit">
        <div class="block-edit contentPopup">
          <img
            class="block-edit__close closeButton"
            src="<%= require('./images/images-iconos/Close.svg')%>"
            alt="Cerrar formulario"
          />
          <img
            class="block-edit__close-hover"
            src="<%= require('./images/images-iconos/Close-hover.svg')%>"
            alt="Cerrar formulario"
          />
          <h4 class="block-edit__text">Editar perfil</h4>
          <div class="block-edit__nombre">
            <input
              type="text"
              id="nombre"
              class="input"
              placeholder="Nombre"
              minlength="2"
              maxlength="40"
              required
            />
            <p class="error-message"></p>
          </div>
          <div class="block-edit__about">
            <input
              type="text"
              id="about"
              class="input"
              placeholder="Ocupación"
              minlength="2"
              maxlength="200"
              required
            />
            <p class="error-message"></p>
          </div>
          <button
            type="submit"
            id="guardar-buttonEdit"
            class="guardar-edit submit"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>

    <form class="formulario-add" novalidate>
      <div class="Add">
        <div class="block-add contentPopup">
          <img
            class="block-add__close closeButton"
            src="<%= require('./images/images-iconos/Close.svg')%>"
            alt="Cerrar formulario"
          />
          <img
            class="block-add__close-hover"
            src="<%= require('./images/images-iconos/Close-hover.svg')%>"
            alt="Cerrar formulario"
          />
          <h4 class="block-add__text">Nuevo lugar</h4>
          <div class="block-add__titulo">
            <input
              type="text"
              id="titulo"
              class="input"
              placeholder="Titulo"
              minlength="2"
              maxlength="30"
              required
            />
            <p class="error-message"></p>
          </div>
          <div class="block-add__link">
            <input
              type="text"
              id="link"
              class="input"
              placeholder="Dirección URL de la imagen"
              pattern="https:\/\/.*|http:\/\/.*"
              required
            />
            <p class="error-message"></p>
          </div>
          <button
            type="submit"
            id="guardar-buttonAdd"
            class="guardar-disabledAdd submit"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>

    <div class="image-popup">
      <div class="Edit">
        <div class="image-popup__content contentPopup">
          <img alt="Imagen grande del post" class="image-popup__image" />
          <p class="image-popup__name"></p>
          <img
            class="image-popup__close closeButton"
            src="<%= require('./images/images-iconos/Close.svg')%>"
            alt="Cerrar formulario"
          />
          <img
            class="image-popup__closehover"
            src="<%= require('./images/images-iconos/Close-hover.svg')%>"
            alt="Cerrar formulario"
          />
        </div>
      </div>
    </div>

    <section class="images"></section>
    <template id="post-template">
      <div class="post">
        <img class="post__image" alt="" />
        <h3 class="post__text"></h3>
        <img
          class="post__delete-hover"
          src="<%= require('./images/images-post/delete-hover.svg')%>"
          alt="borrar"
        />
        <img
          class="post__delete"
          src="<%= require('./images/images-post/delete.svg')%>"
          alt="borrar"
        />
        <div class="post__like-count">0</div>
        <img
          class="post__like-hover"
          src="<%= require('./images/images-post/like-hover.svg')%>"
          alt="like"
        />
        <img
          class="post__like"
          src="<%= require('./images/images-post/like.svg')%>"
          alt="like"
        />
      </div>
    </template>

    <footer class="footer">
      <h3 class="footer__tripleten">&#169; 2023. Tripleten</h3>
      <p class="footer__name">Dan Meza Cadillo</p>
    </footer>
  </body>
</html>
